@media screen and (max-width: 1200px) {
	.section-heading {
		font-size: 4rem;
		font-weight: 700;
	}

	.section-1 {
		margin: 20% auto 0 auto;
	}

	.header-title {
		font-size: 6rem;
	}

	.header-para {
		font-size: 2rem;
	}

	.header-btn {
		font-size: 1.2rem;
		padding: 1.6rem;
		letter-spacing: .2rem;
	}

	.section-2 {
		min-height: 40vh;
		margin: 2rem 0;
	}

	.about-text {
		flex-basis: 70%;
	}

	.about-para {
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}

	.about-img {
		width: 35rem;
		height: 35rem;
	}

	.section-3 {
		margin: 5rem 0;
	}

	.section-3 .para {
		font-size: 1.8rem;
	}

	.section-4 {
		height: 80vh;
		padding: 3rem 0;
		justify-content: space-between;
	}

	.section-4 .section-heading {
		margin-bottom: 4rem;
	}

	.gallery-carousel {
		height: 80%;
	}

	.gallery-carousel img {
		width: 90%;
	}

	footer {
		height: 15vh;
	}

	footer img {
		width: 20rem;
	}

	footer p {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 950px) {
	.change.menu-icon .line-1 {
		transform: rotate(-135deg) translateY(-.3rem);
	}

	.change.menu-icon .line-3 {
		transform: rotate(135deg) translateY(.3rem);
	}

	.section-2 {
		min-height: 70vh;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 2rem;
	}

	.about-text {
		flex-basis: 100%;
		text-align: center;
	}

	.about-para {
		max-width: 80%;
		margin: 2rem auto 3rem auto;
		text-align: center;
		line-height: 1.6;
	}

	.about-btn {
		padding: 1rem 3rem;
	}
	.about-img {
		margin-top: 5rem;
	}
	.section-5 .section-heading {
		margin-bottom: 1rem;
	}

	.testimonial-content {
		width: 100%;
	}

	.testimonial-slider {
		min-height: 55vh;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		padding: 1rem 0;
	}

	.testimonial-img {
		margin-bottom: 1rem;
		width: 25rem;
		height: 30rem;
	}

	.testimonial-text {
		width: 70%;
		transform: translate(0);
		align-items: center;
	}

	.testimonial-text p {
		text-align: center;
	}

	.contact-content {
		width: 100%;
		height: max-content;
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem 0;
	}

	.contact-content > div {
		width: 100%;
	}

	.contact-address {
		margin-bottom: 1rem;
		padding: 1rem 0;
	}

	.contact-address_heading {
		font-size: 2.3rem;
	}

	.contact-address_details > li p {
		font-size: 1.5rem;
	}

	.contact-form {
		width: 100%;
		flex-basis: 100%;
		padding: 1rem 0;
	}

	.contact-form label {
		font-size: 2rem;
	}

	.contact-form input {
		height: 6rem;
	}

	.contact-form textarea {
		height: 15rem;
	}

	.form-btn input {
		width: 20rem;
	}
}

@media screen and (max-width: 650px) {
	.menu-icon {
		width: 4.5rem;
		height: 4.5rem;
		right: 5%;
	}

	.line {
		width: 65%;
		height: .2.3rem;
	}

	.navbar-bg {
		width: 2rem;
		height: 2rem;
		top: 3.2rem;
		right: 8%;
	}

	.navlist a {
		font-size: 2rem;
	}

	.logo {
		width: 13rem;
	}

	.section-heading {
		font-size: 5rem;
		font-weight: 400;
	}

	.container {
		max-width: 100vw;
		padding: 0 2rem;
	}

	.header-title {
		font-size: 4rem;
		letter-spacing: .2rem;
	}

	.header-para {
		font-size: 1.8rem;
		width: 80%;
	}

	.header-btn {
		font-size: 1.2rem;

		font-weight: 500;
	}

	.about-img {
		width: 80%;
	}

	.para {
		line-height: 1.4;
	}

	.section-4 {
		background-size: 70%;
		width: 100%;
		justify-content: space-around;
	}

	.gallery-carousel {
		width: 100%;
	}

	footer {
		height: max-content;
	}

	footer img {
		width: 12rem;
	}

	.footer-nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer-navlist {
		margin-right: 0;
		margin-bottom: .7rem;
	}

	footer p {
		text-align: center;
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 500px) {
	#home {
		background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
			url(./images/main-img/mobile-bg.jpg) no-repeat center center/cover;
		min-height: 60vh;
	}

	.logo {
		left: 5%;
	}

	.section-1 {
		width: 100%;
		padding: 0 5%;
	}
	.header-title {
		font-size: 3rem;
		font-weight: 600;
	}

	.header-para {
		font-size: 1.4rem;
		width: 100%;
	}

	.contact-form input {
		height: 4rem;
	}

	.form-info > div {
		width: 30%;
	}

	.form-btn input {
		width: 15rem;
	}
}
